<div class="text-container">
    <p><b>MAEVA! WELCOME! BIENVENUE!</b><br> Sur cette plateforme vous pourrez consulter ou commander des produits
        vendus sur les bords de route de notre belle île, Tahiti.</p>
</div>

<h1><u>Nos derniers produits</u></h1>
    <div class="container">
        {{#each products}}
            <div class="card-product">
                <div class="image-container">
                    <img src="/images/{{this.photo}}" alt="{{this.name_product}}">
                </div>
                <strong>{{this.name_product}}</strong>
                <p>{{this.description}}</p>
                <p>Prix: {{this.price}} XPF</p>
                <a href="/product/{{this.id}}"><button>Voir le produit</button></a>
            </div>
        {{/each}}
    </div>
<br>

</div>