<div class="container">
        <div class="image-container">
            <img src="{{product.photo}}" alt="{{product.name_product}}">
        </div>
        <div class="info-container">
            <h1>{{product.name_product}}</h1>
        <p><strong>Description :</strong> {{product.description}}</p>
        <p><strong>Prix :</strong> {{product.price}} XPF</p>
        <a href="/home"><button>Retour à l'accueil</button></a>
</div>
</div>