<h2>Gestion des Utilisateurs</h2>
<a href="/users/create"><button type="submit">Ajouter un utilisateur</button></a>
<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Mot de passe</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.password}}</td>
        <td>
          <form action="/users/delete" method="POST" onsubmit="return confirm('Delete {{this.name}} ?');">
              <input type="hidden" name="id" value="{{this.id}}"/>
              <button type="submit">Delete</button>
          </form>
        </td>
        <td>
          <a href="/users/edit/{{this.id}}"><button>Edit</button></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>