<h2>Edit product {{ product.name_product }}</h2>
<div class="container">
    <div class="card">
        <form method="post" action="/products/edit">
        <input type="hidden" name="id" value="{{ product._id }}">
        <div>
            <label for="photo">Ajouter image</label>
            <input id="photo" type="file" name="photo" value="{{ product.photo }}">
        </div>
        <div>
            <label for="seller">Vendeur</label>
            <input id="seller" type="text" name="seller" value="{{ product.seller }}">
        </div>
        <div>
            <label for="name_product">Produit</label>
            <input id="name_product" type="text" name="name_product" value="{{ product.name_product }}">
        </div>
        <div>
            <label for="description">Description</label>
            <input id="description" type="text" name="description" value="{{ product.description }}">
        </div>
        <div>
            <label for="price">Prix</label>
            <input id="price" type="number" name="price" value="{{ product.price }}">
        </div>
        <div>
            <label for="status">Active</label>
            <select name="status" value="{{ product.status}}">
                <option value="On">On</option>
                <option value="Off">Off</option>
            </select>
        </div>
        <div>
            <a href="/products"><button type="button">Cancel</button></a>
            <button type="submit">Update</button>
        </div>
        </form>
    </div>
</div>