<h2>Gestion des Produits</h2>
<a href="/products/create"><button type="submit">Ajouter un produit</button></a>
<table class="table">
  <thead>
    <tr>
      <th>Produit</th>
      <th>Description</th>
      <th>Vendeur</th>
      <th>Prix</th>
      <th>Active</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <td>{{this.name_product}}</td>
        <td>{{this.description}}</td>
        <td>{{this.seller.name}}</td>
        <td>{{this.price}} XPF</td>
        <td>{{this.status}}</td>
        <td>
          <form action="/products/delete" method="POST" onsubmit="return confirm('Delete {{this.name_product}} ?');">
              <input type="hidden" name="id" value="{{this.id}}"/>
              <button type="submit">Delete</button>
          </form>
        </td>
        <td>
          <a href="/products/edit/{{this.id}}"><button>Edit</button></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>